.typography-400-regular{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

.typography-700-regular{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

.typography-700-bold{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: black;
}