.return-path{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 30px;
    padding-left: 30px;
    div{
        color: white;
    }
}

.nav-items{
    
    text-align: start;
    &--active{
        background-color: #FFFFFF40;
        box-sizing: border-box;
        width: 100%;
        padding: 15px 30px 15px 30px;
    }

    &--inactive{
        background-color: transparent;
        box-sizing: border-box;
        width: 100%;
        padding: 15px 30px 15px 30px;
    }
}