.return-path{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 30px;
    padding-left: 30px;
    div{
        color: white;
    }
}

.drag{
    cursor: move;
    &:active {
        cursor: move;
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
      }
    &:hover{
    }
}

.nav-items{
    
    text-align: start;
    &--active{
        background-color: #565656;
        box-sizing: border-box;
        width: 100%;
        padding: 15px 30px 15px 30px;
        cursor: move;
    }

    &--inactive{
        background-color: transparent;
        box-sizing: border-box;
        width: 100%;
        padding: 15px 30px 15px 30px;
    }
}