.refresh-part{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    padding-left: 30px;
}

.check-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox-group{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
    height: 20px;
    &__label{
        height: 20px;
        text-align: center;
    }
}

.product-list{
    display: flex;
    justify-content: flex-start;
    gap: 8px;

    input{
        width: 18px;
        height: 18px;
        margin-left: 0px;
    }
}

.filter-group{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-bottom: solid 1px #FFFFFF40;
}

.filter-bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
    padding-top: 20px;
}

.image-settings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    &__common{
        display: flex;
        align-items: end;

        *{
            margin-bottom: 10px;
        }
    }

    &__panel{
        display: flex;
        flex-direction: row;
        gap: 10px;

        input {
            width: 30px ;
            height: 20px;
            padding: 10px 10px 10px 10px;
        }
    }

    .input-groups{
        display: flex;
        flex-direction: row;
        gap: 15px;
        
        div.typography-400-regular{
            text-align: start;
        }
    }
}