.refresh-part{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    padding-left: 30px;
}

.check-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox-group{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
    height: 20px;
    &__label{
        height: 20px;
        text-align: center;
    }
}

.product-list{
    display: flex;
    justify-content: flex-start;
    gap: 8px;

    input{
        width: 18px;
        height: 18px;
        margin-left: 0px;
    }
}

.filter-box{

    max-height: 500px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }

    .filter-group{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        border-bottom: solid 1px #FFFFFF40;
        
    }
    
    .filter-bottom{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 30px;
        padding-top: 20px;
    }
}



.image-settings{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__left-section {
        padding-top: 25px;
    }
    &__right-section {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
    }
    &__common{
        display: flex;
        align-items: flex-end;

        *{
            margin-bottom: 10px;
        }
    }

    &__panel{
        display: flex;
        flex-direction: row;
        gap: 10px;

        input {
            width: 60px ;
            height: 40px;
            padding: 0px !important;
        }
    }

    .input-groups{
        display: flex;
        flex-direction: row;
        gap: 15px;
        
        div.typography-400-regular{
            text-align: start;
        }
    }
}