
.dashboard{
    display: flex; 
    flex-direction: row;
    position: relative;
    font-family: Roboto;

    .sidebar-container{
        width: 25vw;
        height: 100vh; 
        color: #ffff;
        background: var(--grayscale-dark-gray-dark, #1A1C1D);
    
        .sidebar-top{
            height: 80px; 
            display: flex; 
            flex-direction: row;
            border-bottom:  solid 1px #FFFFFF40;
        }
    }
    .body-background{
        background-color: #E0E2E5;
        height: 100%;
        
    }

    .header-layout{
        display: flex;
        flex-direction: column;
        
        width: 100vw;
         
        
    }

    .profile-layout{
        position: absolute;
        width: 501px;
        height: 312px;
        z-index: 1000;
        top: 75px;
        right: 30px;
        background: white;
        box-shadow: 0px 0px 15px 0px #00000040;

        .profile-info {
            display: flex;
            flex-direction: row;
            margin-top: 15px;
            border-bottom: solid 1px #00000040;
            height: 110px;
            .user-icon{
                width: 80px;
                height: 80px;
                margin-left: 15px;
                background-color: #8F7300;
                border: 1px solid #E0E2E5;

                .user-alias{
                    margin: 27px 10px 27px 10px;
                    //styleName: 20pt/Regular;
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
            .user-account{
                margin-left: 20px;
                text-align: start;
                
                .user-label{
                    //styleName: 12pt/Regular;
                    
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0em;
                    text-align: left;

                }
                .user-name{
                    //styleName: 20pt/Bold;
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 26px;
                    letter-spacing: 0em;
                    text-align: left;

                }
                .user-email{
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-top: 10px;
                }
            }
        }

        .profile-detail{
            display: flex;
            flex-direction: row;
            margin-left: 15px;
            margin-right: 15px;

            .set-language{
                display: flex;
                flex-direction: column;
                width: 250px;
                height: 186px;
                gap: 15px;
                border-right: solid 1px #00000040;
                .language-label{
                    //styleName: 12pt/Regular;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-top: 15px;

                }
                .language-active{
                    //styleName: 14pt/Bold;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    display: flex;
                    justify-content: space-between;
                    margin-right: 15px;
                }
                .language-inactive{
                    //styleName: 14pt/Regular;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;

                }
            }
            .user-account{
                width: 250px;
                margin-top: 15px;
                .account-label{
                    margin-left: 15px;
                    text-align: left;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0em;
                    text-align: left;

                }
                .account-setting{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin: 10px 15px 10px 15px;

                    .account-detail{
                        

                        .account-detail-info{
                            display: flex;
                            flex-direction: row;
                            
                            height: 24px;

                            .account-setting-img{
                                width: 24px;

                                img{
                                    margin: auto;
                                }
                            }
                            
                            .account-description{
                                margin-left: 10px;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 20px;
                                letter-spacing: 0em;
                                text-align: left;

                            }
                        }
                    }
                }
            }
        }
    }

    .header-top-layout{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        

        .bosch-icon{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }
        
    }
    
}

.right-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}
