.organism-tabs {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    height: calc(100% - 30px);
    position: relative;
    max-width: 1045px;
    width: 100%;
    overflow-y: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }

    .template-button {
        position: absolute;
        top: 10px;
        right: 0px;
        padding: 10px 20px 10px 20px;
        border: solid 1px #8F7300;
        color: #8F7300;
        z-index: 2;

        &:hover {
            color: #B39100;
            border: solid 1px #B39100;
        }

        &:active {
            border: solid 1px #8F7300;
            color: #8F7300;
        }
    }

    .MuiTabPanel-root {
        height: calc(100% - 50px) !important;
    }
}

.product-card {
    width: 335px;
    height: 340px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: solid 1px #00000040;

    .product-panel {
        height: 55px;
        border-bottom: solid 1px #00000040;

        .product-info-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 7px 10px 8px 10px;

            .product-info {

                .product-name {
                    //styleName: 14pt/Regular;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;

                }

                .product-image-info {
                    //styleName: 10pt/Regular;
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 14px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #00000080;


                }
            }

            .product-icon {

                align-content: center;
                padding: auto;

                img {
                    width: 22px;
                    height: 22px;
                    padding: 9px 9px 9px 9px;
                    background-color: #8F7300;
                    border: 1px solid #E0E2E5;
                }
            }
        }


    }


    .product-image {
        height: 255px;
        margin: 10px 10px 10px 10px;
        background-image: url("../../../assets/images/grid-Image.png");

        img {
            object-fit: contain;

            img {
                margin: auto;
            }
        }
    }
}


.template-tab-1 {
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.template-tab-2 {
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 100%;
}


.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 17px;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    overflow-y: hidden;
    

    .infinite-scroll-component {
        margin-top: 20px;
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: 335px 335px 335px;
        gap: 15px;
        height: calc(100vh - 180px);
        // min-height: 100vh;
        overflow-x: hidden;
    }
}

.multi-product-container {
    margin-top: 20px;
    width: 100%;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 335px 335px 335px;
    // grid-template-rows: 37ch auto minmax(390px, 390px);
    gap: 20px;
    height: calc(100vh - 268px);
    overflow: scroll;
    overflow-x: hidden;
}

.template-button--filled {
    display: inline-block;
    background-color: #8F7300;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;

    &:hover {
        background-color: #B39100;
    }

    &:active {
        background-color: #8F7300;
    }
}

.image-setting-panel {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    .left-b-image {
        min-width: 500px;
        min-height: 500px;
        aspect-ratio: 1 / 1;
        background-image: url("../../../assets/images/grid-Image.png");
        display: flex;
        flex-direction: column;
        justify-content: center;


        .image-backgroud {
            margin: auto;
            width: 100%;
            height: 50%;
            background-color: #D9D9D9;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;

            .image-compare {
                display: flex;
                justify-content: space-between;
                gap: 20px;
            }
        }
    }

    .right-b {
        width: 50%;

        &__top {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: space-between;
            white-space: nowrap;
            text-overflow: clip;
        }

        &__bottom {
            display: flex;
            flex-direction: row;
            gap: 8px;
            margin-top: 30px;
        }
    }
}



.image-setting {
    position: relative;
    margin-bottom: 80px;


}

.bottom-template-button {
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.image-position__left {
    display: flex;
    justify-content: flex;
    margin-bottom: 20px;
}

.template-form {
    width: 100%;
    max-width: 1045px;
    margin: 0px 30px 0px 30px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
}

.template-panel {
    position: relative;
    width: 100%;
    
    .top-template-button {
        position: absolute;
        top: 20px;
        right: 0px;
    }

    .panel-group {
        position: absolute;
        top: 80px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding-bottom: 75px;

        .product-setting-panel {
            background-color: white;
            border-radius: 3px, 3px, 0px, 0px;

            &__bottom {
                overflow-x: scroll;
                -ms-overflow-style: none;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                padding: 30px 20px 20px 20px;

                .input-group {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 15px;

                    .label-input-pair {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .label__left {
                            width: 110px;
                            display: flex;
                        }

                        .label__right {
                            width: 100%;
                            display: flex;
                            justify-content: center;

                            & > div {
                                max-width: 450px;
                                width: 100%;
                                display: flex;
                                justify-content: center;

                                input {
                                    padding: 10px;
                                }
                            }
                        }

                    }

                    .label-check-pair {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        &__label {
                            width: 110px;
                            text-align: start;
                        }

                        .label__right {
                            width: 100%;
                            display: flex;
                            justify-content: center;

                            .label-check-pair__checkbox {
                                display: flex;
                                align-items: center;
                                width: 100%;
                                max-width: 450px;
                                gap: 10px;
                            }

                            .label-check-pair__checkbox-group {
                                display: flex;
                                flex-direction: column;
                                gap: 8px;
                                width: 100%;
                                max-width: 450px;
                            }
                        }
                    }

                    .label-select-pair {
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .label__left {
                            width: 110px;
                            display: flex;
                        }

                        .label__right {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                        }

                        div.select-group {
                            width: 452px;
                            padding: 0px 0px;
                            margin-bottom: 30px;
                            position: relative;
                            display: flex;
                            flex-direction: column;

                            &>div {
                                width: 100%;
                                padding: 0px;
                            }

                            .select-subtitle {
                                position: absolute;
                                top: 45px;
                                left: 0px;
                                margin: 0px;
                            }
                        }

                    }
                }
            }
        }


    }
}

.product-setting-panel__top {
    border-bottom: solid 1px #00000040;
    position: relative;
    height: 20px;
    padding: 13px 20px 14px 20px;

    .top-typo {
        text-align: start;
        position: absolute;


    }
}

.product-select {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    &__l {
        width: 354px;
        background-color: #565656;
        padding: 30px;
        overflow-y: scroll;

        // -ms-overflow-style: none;
        // scrollbar-width: none;
        // &::-webkit-scrollbar{
        //     display: none;
        // }
        .product-search {
            width: 100%;
            height: 40px;

            input {
                box-sizing: border-box;
                width: 100%;
                padding: 10px;
            }
        }

        .product-add {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;


            .product-list-panel {
                padding: 10px;
                background-color: white;
                display: flex;
                flex-direction: row;
                border-radius: 3px;

                .product-info {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;

                    .label-info {
                        display: flex;
                        flex-direction: column;
                        text-align: start;
                        justify-content: space-around;

                        &__top {
                            max-width: 150px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }

                    .add--filled {
                        background-color: #8F7300;
                        padding: 8px;
                    }
                }

            }
        }
    }

    &__r {
        width: 65%;
        margin: auto;

        .image-backgroud {


            background-image: url("../../../assets/images/grid-Image.png");

            display: flex;
            align-items: center;

            .saved-images {
                max-height: calc(100vh - 90px);
                height: 100%;
                width: 100%;
                margin: auto;

                img {
                    object-fit: contain;
                }
            }
        }
        // .image-backgroud{
        //     width: 100%;
        //     height: 100%;
        //     background-image: url("../../../assets/images/grid-Image.png");
        //     display: flex;
        //     align-items: center;
        //     .saved-images{
        //         width: 100%;
        //         padding-top: auto;
        //         padding-bottom: auto;
        //         position: relative;
        //         img{
        //             width: 100%;
        //             height: 100%;
        //         }
        //         .product-image{
        //             position: absolute;
        //         }
        //     }
        // }
    }
}


// .summary {
//     display: flex;
//     flex-direction: row;
//     gap: 20px;
//     padding: 30px;

//     &-l {
//         text-align: start;
//         width: 100%;
//         .summary-compose-image{
//             width: 100%;
//             img{
//                 object-fit: contain;
//             }
//         }
//         div:nth-child(2){
//             margin-top: 30px;
//         }

//         div:last-child {
//             margin-top: 10px;
//         }
//     }

//     &-r {
//         width: 45%;
//         display: flex;
//         flex-direction: column;
//         gap: 40px;
//         margin-top: 10px;

//         div:first-child {
//             text-align: start;
//         }

//         .composing-name {

//             display: flex;
//             flex-direction: column;
//             gap: 10px;

//             div:first-child {
//                 text-align: start;
//             }

//             div:last-child {
//                 width: 100%;
//                 box-sizing: border-box;
//                 text-align: center;
//             }

//             input {
//                 padding: 10px;
//                 width: 100%;
//                 box-sizing: border-box;
//                 border-radius: 3px;
//             }
//         }

//         .deployment {
//             display: flex;
//             flex-direction: column;
//             gap: 10px;

//             div:first-child {
//                 text-align: start;
//             }

//             .url-group {
//                 background-color: white;
//                 padding: 10px;
//                 display: flex;
//                 flex-direction: row;
//                 justify-content: space-between;
//             }

//             .download-button {

//                 div {
//                     width: 100%;
//                     box-sizing: border-box;
//                     text-align: center;
//                 }


//             }
//         }
//     }
// }

.summary {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    align-items: start;
    padding: 30px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
    &__image {
        grid-column: 1 / span 2;
        grid-row: 1;
        height: fit-content;

        &__content {
        }

        &__desc {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            & > div:not(.cover-spin) {
                margin-top: 30px;
            }
            .desc__text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 10px;
                margin-bottom: 50px;
                p{
                    color: var(--black, #000);
                    /* 14pt/Regular */
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; 
                    padding: 0px !important;
                    margin: 0px !important;
                }
            }
        }
        img {
            width: 100%;
        }
    }

    &__detail {
        grid-column: 3;
        grid-row: 1;
        padding-left: 20px;

        div:first-child {
            text-align: start;
        }

        .composing-name {

            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 40px;

            div:first-child {
                text-align: start;
            }

            div:last-child {
                width: 100%;
                box-sizing: border-box;
                text-align: center;
            }

            input {
                padding: 10px;
                width: 100%;
                box-sizing: border-box;
                border-radius: 3px;
            }
        }

        .deployment {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 40px;

            div:first-child {
                text-align: start;
            }

            .url-group {
                background-color: white;
                padding: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .download-button {

                div {
                    width: 100%;
                    box-sizing: border-box;
                    text-align: center;
                    
                }

                    border: solid 1px #8F7300;
                    color: #8F7300;

                    &:hover {
                        color: #B39100;
                        border: solid 1px #B39100;
                    }
            
                    &:active {
                        color: #B39100;
                        border: solid 1px #B39100;
                    }
            }
        }
    }
}

@media (max-width: 1460px) {
    .multi-product-container {
        grid-template-columns: 335px 335px;
        // grid-template-rows: 37ch auto minmax(390px, 390px);
    }

    .infinite-scroll-component {
        grid-template-columns: 335px 335px !important;
    }

    .image-setting-panel {
        flex-direction: column;
        align-items: start;
    }

    .left-b-image {
        width: 100% !important;
    }
}

@media (max-width: 1112px) {
    .multi-product-container {
        grid-template-columns: 335px;
    }

    .infinite-scroll-component {
        grid-template-columns: 335px !important;
    }
}